.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
}
.button:hover{
    background-color: black;
}
.button:visited{
    background-color: #105a88;
}
body{
  background: #f0f0f0;
}

.button_center{
  display: flex;
  justify-content: center;
}