p{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  
body{
    background: #f0f0f0;
}
.important{
    color: red;
}
.exemple{
    color: green;
}